/* main container for articles, inside which rendered article text is displayed */
.post-main {
    text-align: justify;
    margin-top: 2vmin;
}

.article-image-container {
    width: 100%;
    text-align: center;
    margin-top: 2.0vmin;
    margin-bottom: 2.0vmin;
}

.article-image {
    max-width: 80%;
    max-height: 60vh;
    border-radius: 1vmin;
    cursor: pointer;
}

.article-image-title {
    display: block;
    color: white;
    font-size: 2.5vmin; /*2.3vmin; /*2.07vmin; /*1.8vmin;*/
    font-style: italic;
    font-family: Candara, Verdana, sans-serif;
}



.post-content-and-panel-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.side-panel-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-width: 0;
    background-color: rgba(240, 248, 255, 0.09);
}

.side-panel-container:hover {
    background-color: rgba(240, 248, 255, 0.31);
}

.file-container {
    display: block;
    margin-top: 2.0vmin;
    margin-bottom: 2.0vmin;
}

.attached-file-container-external {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    margin: auto;
}

.attached-file-container-internal {
    display: flex;
}

.attached-file-container-external:hover {
    background-color: rgba(240, 248, 255, 0.31);
}

.attached-file-icon {
    color: white;
    font-size: 5.1vmin; /*4.6vmin; /*4vmin;*/
    margin: 1.5vmin;
}

.attached-file-info-div {
    display: flex;
    flex-direction: column;
}

.attached-file-description {
    color: white;
    font-size: 2.5vmin; /*2.3vmin; /*2.07vmin; /*1.8vmin;*/
    font-style: italic;
    font-family: Candara, Verdana, sans-serif;
}

.bb-bold {
    font-weight: bold;
}

.bb-italic {
    font-style: italic;
}

.bb-heading {
    font-size: 2.9vmin; /*2.65vmin; /*2.3vmin;*/
    color: white;
    font-family: Candara, Verdana, sans-serif;
    text-align: center;
    display: block;
    margin-top: 2.2vmin;
    margin-bottom: 1.5vmin;
}

.bb-youtube-embed {
    display: block;
    margin: auto;
}

.bb-quote {
    border-left-color: lightgray;
    border-left-style: solid;
    font-style: italic;
    font-size: 2.64vmin; /*2.4vmin; /*2.2vmin; /*1.9vmin;*/
    font-family: Candara, Verdana, sans-serif;
}

.bb-bullet-list {
    display: flex;
    align-items: baseline;
    margin-top: 0.7vmin;
    margin-bottom: 0.7vmin;
}

.bb-bullet {
    margin-right: 0.5vmin;
    font-size: 2.75vmin; /*2.5vmin; /*2.3vmin; /*2.0vmin;*/
    color: white;
}

.bb-inline-hyperlink {
    color: deepskyblue;
    font-weight: bold;
    text-decoration: none;
    border: none;
    outline: none;
}

/* the post type tag (article/photo/gallery) */
.side-panel-tag {
    /*writing-mode: vertical-rl;*/
    text-align: center;
}

.side-panel-image-div {
    background-position: center;
    background-size: cover;
}

.side-panel-title {
    flex-shrink: 1000;
    text-align: center;
}

.image-show-base-overlay {
    background-color: #292929;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}

.image-show-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.image-show-image {
    max-width: 100vw;
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.image-show-image-with-descr {
    max-height: 95vh;
}

.image-show-image-no-descr {
    max-height: 100vh;
}

.image-show-title {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 5vw;
    text-align: center;
}

.image-show-close {
    font-size: 4.5vh;
    color: white;
    position: absolute;
    right: 1vw;
    top: 0.5vh;
    cursor: pointer;
    text-shadow:2px 5px rgb(0, 0, 0, .65);
}

.image-show-previous {
    font-size: 4.5vh;
    color: white;
    position: absolute;
    right: 1vw;
    top: 5vh;
    cursor: pointer;
    text-shadow:2px 5px rgb(0, 0, 0, .65);
}

.image-show-next {
    font-size: 4.5vh;
    color: white;
    position: absolute;
    right: 1vw;
    top: 9.5vh;
    cursor: pointer;
    text-shadow:2px 5px rgb(0, 0, 0, .65);
}

.post-render-info-line {
    display: block;
    text-align: center;
    font-size: 2.6vmin; /*2.4vmin; /*2.185vmin; /*1.9vmin;*/
    font-style: italic;
    color: white;
    font-family: Candara, Verdana, sans-serif;
}

.gallery-image-breadcrumb {
    cursor: pointer;
}

.photo-image {
    max-width: 100%;
    max-height: 70vh;
    border-radius: 1.5vmin;
    cursor: pointer;
    display: block;
    margin: auto;
}

.post-container {
    margin-left: 1%;
    margin-right: 0.5%;
    width: 74.5%;
}

.side-container {
    margin-left: 0.5%;
    margin-right: 1%;
    width: 22.5%;
    /*height: min-content; doesnt work in Edge? */
}

.side-panel-image-div-size {
    height: 5vw;
    width: 5vw;
    border-radius: 1.5vmin;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.side-panel-container-size {
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    border-radius: 1.5vmin;
}

.attached-file-container-external-size {
    width: 70%;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    border-radius: 1.5vmin;
}

.attached-file-container-internal-size {
    width: 100%;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.bb-youtube-embed-size {
    width: 50vw;
    height: 28vw;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.bb-quote-size {
    width: 70%;
    border-width: 1vw;
    padding-left: 1vw;
    margin-left: 1vw;
    margin-top: 2.0vmin;
    margin-bottom: 2.0vmin;
}

.bb-bullet-1 {
    margin-left: 1.15vw; /*1vw;*/
}
.bb-bullet-2 {
    margin-left: 3.45vw; /*3vw;*/
}
.bb-bullet-3 {
    margin-left: 5.75vw; /*5vw;*/
}
.bb-bullet-4 {
    margin-left: 8.05vw; /*7vw;*/
}
.bb-bullet-5 {
    margin-left: 10.35vw; /*9vw;*/
}



/* https://stackoverflow.com/questions/41504162/is-it-possible-to-implement-a-flickr-like-justified-gallery-in-pure-css  */

.jg {
    display: flex;
    flex-wrap: wrap;
}

.jg > span, .jg::after {
    --ratio: var(--r);
    --row-height: 30vh;
    flex-basis: calc(var(--ratio) * var(--row-height));
}

.jg > span {
    margin: 0.25vmin;
    flex-grow: calc(var(--ratio) * 100);
}

.jg::after {
    --ratio: 2;
    content: '';
    flex-grow: 1000000;
}

.jg > span > img {
    display: block;
    width: 100%;
}
